.sprite{
  display:none
}
.st0{
  fill:none;
  stroke:#00FF00;
  stroke-miterlimit:10;
}
.debug{
  //display:none;
}
#Layer_1{
  will-change:contents;
  postion:absolute;
  left:10px;
  top:10px;
}
#gameArea{
    position:absolute;
    left:10px;
    top:10px;
    z-index: -1;
}
